<footer class="footer">
  <div class="information-section">
    <div class="position">
    <ul>
      <h1>Contact the Publisher</h1>
      <li>radu.pavlovschiAgmail.com</li>
      <li>+373 69 58337</li>
    </ul>
    <ul>
      <h1>Explorate</h1>
      <li><a href="#">About</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#">Job Opportunities</a></li>
      <li><a href="#">Advertise</a></li>
      <li><a href="#">Membership</a></li>
    </ul>
    <ul>
      <h1>Headquarter</h1>
      <li id="text">191 Middleville Road,
        NY 1001, Sydney
        Australia</li>
    </ul>
    <ul>
      <h1>Connections</h1>
      <div class="brands">
      <li><a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/?lang=en"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a></li>
      <li><a href="https://www.pinterest.com"><i class="fa-brands fa-pinterest"></i></a></li>
      <li><a href="https://www.github.com"><i class="fa-brands fa-github"></i></a></li>
  </div>
    </ul>
    </div>

  </div>
  <div class="final-section">
    <p id="text1">2024 | RUNO Publisher Studio</p>
    <p id="text2" >Subscribe Now</p>
  </div>
</footer>
