<nav class="navbar">
  <h1>RUNO</h1>
  <ol>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a href="#">Articles</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
    <hr>
  <ul>
    <li><a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/?lang=en"><i class="fa-brands fa-twitter"></i></a></li>
    <li><a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a></li>
    <li><a href="https://www.pinterest.com"><i class="fa-brands fa-pinterest"></i></a></li>
    <li><a href="https://www.github.com"><i class="fa-brands fa-github"></i></a></li>
  </ul>
    <hr>
  <ul>
    <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
  </ul>
  </ol>
</nav>
