<section class="home-section">
  <div class="image-content">
      <h1 id="image-h1">
        "Discover Stories with RUNO: <br> <span> Write, Share, Inspire!"</span>
      </h1>
  </div>

  <div class="popular-topics">
    <h1 id="topics-h1">Popular topics</h1>
    <ul class="categories-list">
      <li><a href="#">All</a></li>
      <li><a href="#">Adventure</a></li>
      <li><a href="#">Travel</a></li>
      <li><a href="#">Fashion</a></li>
      <li><a href="#">Technology</a></li>
      <li><a href="#">Branding</a></li>
    </ul>

    <div class="posts-list">

<!--      exemplu-->
      <div class="post-container">
        <div class="category-text">ADVENTURE</div>
        <div class="post-image"></div>
        <ul class="post-info">
          <li><p class="post-p">08.08.2021</p></li>
          <li><h1 class="post-h1">Dream destinations to visit this
            year in Paris</h1></li>
          <li><p class="post-p">Progressively incentivize cooperative systems through
            technically sound functionalities. Credibly productivate
            seamless data with flexible schemas.</p></li>
        </ul>
      </div>



      <div class="post-container">
        <div class="category-text">ADVENTURE</div>
        <div class="post-image"></div>
        <ul class="post-info">
          <li><p class="post-p">08.08.2021</p></li>
          <li><h1 class="post-h1">Dream destinations to visit this
            year in Paris</h1></li>
          <li><p class="post-p">Progressively incentivize cooperative systems through
            technically sound functionalities. Credibly productivate
            seamless data with flexible schemas.</p></li>
        </ul>
      </div><div class="post-container">
      <div class="category-text">ADVENTURE</div>
      <div class="post-image"></div>
      <ul class="post-info">
        <li><p class="post-p">08.08.2021</p></li>
        <li><h1 class="post-h1">Dream destinations to visit this
          year in Paris</h1></li>
        <li><p class="post-p">Progressively incentivize cooperative systems through
          technically sound functionalities. Credibly productivate
          seamless data with flexible schemas.</p></li>
      </ul>
    </div><div class="post-container">
      <div class="category-text">ADVENTURE</div>
      <div class="post-image"></div>
      <ul class="post-info">
        <li><p class="post-p">08.08.2021</p></li>
        <li><h1 class="post-h1">Dream destinations to visit this
          year in Paris</h1></li>
        <li><p class="post-p">Progressively incentivize cooperative systems through
          technically sound functionalities. Credibly productivate
          seamless data with flexible schemas.</p></li>
      </ul>
    </div><div class="post-container">
      <div class="category-text">ADVENTURE</div>
      <div class="post-image"></div>
      <ul class="post-info">
        <li><p class="post-p">08.08.2021</p></li>
        <li><h1 class="post-h1">Dream destinations to visit this
          year in Paris</h1></li>
        <li><p class="post-p">Progressively incentivize cooperative systems through
          technically sound functionalities. Credibly productivate
          seamless data with flexible schemas.</p></li>
      </ul>
    </div><div class="post-container">
      <div class="category-text">ADVENTURE</div>
      <div class="post-image"></div>
      <ul class="post-info">
        <li><p class="post-p">08.08.2021</p></li>
        <li><h1 class="post-h1">Dream destinations to visit this
          year in Paris</h1></li>
        <li><p class="post-p">Progressively incentivize cooperative systems through
          technically sound functionalities. Credibly productivate
          seamless data with flexible schemas.</p></li>
      </ul>
    </div>



    </div>



  </div>





</section>
